.center-content {
  --min: var(--space-m);

  display: grid;
  grid-template-columns:
    minmax(var(--min), 1fr)
    minmax(0, 1240px)
    minmax(var(--min), 1fr);
  grid-template-rows: auto 1fr auto;

  > * {
    grid-column: 2;
  }
}
