.fiction-normal {
  font-weight: var(--font-weight-bold);
  color: var(--color-fiction);
  transition: all 200ms ease;
}

.fiction-dark {
  color: var(--color-fiction-dark);
}

a.fiction-normal:hover {
  color: var(--color-fiction-light);
}
