.nonfiction-normal {
  font-weight: var(--font-weight-bold);
  color: var(--color-nonfiction);
  transition: all 200ms ease;
}

.nonfiction-dark {
  color: var(--color-nonfiction-dark);
}

a.nonfiction-normal:hover {
  color: var(--color-nonfiction-light);
}
