.skip-link {
  position: absolute;
  z-index: 100000;
  inset-inline-start: 1rem;
  inset-block-start: 1rem;
  padding-inline: 1rem;
  padding-block: 0.7rem 0.5rem;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-accent-dark);
  background-color: var(--color-dark);
}

.skip-link:hover {
  color: var(--color-dark);
  background: var(--color-accent-dark);
}

/* Visually hidden until focused */
.skip-link:not(:focus) {
  inline-size: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}
