@use "../abstracts" as *;

.book-list {
  display: flex;
  flex-flow: row-reverse;

  .sticky-header {
    position: sticky;
    inset-block-start: 2em;
    margin-block-end: 1em;
    align-self: flex-start;
    color: color-value(general, normal);
  }
}
