@use "../abstracts" as *;

.book-detail {
  display: flex;
  gap: space-value(space-2xl);
}

h1.fiction,
span.fiction {
  font-weight: $fw-700;
  color: color-value(fiction, normal);
}

h1.nonfiction,
span.nonfiction {
  font-weight: $fw-700;
  color: color-value(nonfiction, normal);
}
