@use "../abstracts" as *;

.book-list {
  display: flex;
  flex-flow: row-reverse;

  .sticky-header {
    position: sticky;
    inset-block-start: 2em;
    margin-block-end: 2em;
    align-self: flex-start;
    color: color-value(general, light);
  }
}

h3 {
  .fiction & {
    color: color-value(fiction, normal);

    &:hover {
      color: color-value(fiction, light);
    }
  }

  .nonfiction & {
    color: color-value(nonfiction, normal);

    &:hover {
      color: color-value(nonfiction, light);
    }
  }
}

.cover-image {
  @include box-shadow(color-value(fiction, dark));

  .fiction & {
    @include box-shadow(color-value(fiction, dark));
  }

  .nonfiction & {
    @include box-shadow(color-value(nonfiction, dark));
  }
}

.category {
  font-weight: $fw-700;

  .fiction & {
    color: color-value(fiction, light);
  }

  .nonfiction & {
    color: color-value(nonfiction, light);
  }
}
