@use "../abstracts" as *;

.bookcover-grid {
  display: grid;
  border-radius: 5px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 100px), 150px));
  gap: space-value(space-3xs);

  div {
    position: relative;
    inline-size: 100%;
    block-size: 100%;
  }

  img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .fiction {
    @include overlay(color-value(fiction, dark));
  }

  .nonfiction {
    @include overlay(color-value(nonfiction, dark));
  }
}

.audiobook-badge {
  position: absolute;
  z-index: 1;
  inset-block-end: space-value(space-3xs);
  inset-inline-start: space-value(space-3xs);
  padding: 0.1em 0.5em;
  border-radius: 0.25em;
  background: $color-dark;
  color: $color-light;
  font-size: 0.75rem;
  font-weight: $fw-700;
}
