@use "../abstracts" as *;

.stars {
  --star-size: 2rem;
  --star-color: transparent;
  --starred-color: ;
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  line-height: 1;

  &::before {
    letter-spacing: 1px;
    background: linear-gradient(
      90deg,
      $color-accent var(--percent),
      var(--star-color) var(--percent)
    );
    background-clip: text;
    content: "★★★★★";
    -webkit-text-fill-color: transparent;
  }
}
