.book-list-item {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);

  .cover-image {
    max-inline-size: 150px;
  }

  @media (width >= 40em) {
    flex-direction: row;
    gap: var(--space-l);
  }
}
