{#- Expects `book` to be the book's data (front matter). -#}
<div class="{{ book.category }}">
    <img class="cover-image" src="https://images-eu.bookshop.org/images/{{ book.id }}.jpg" alt="{{ book.title }}" width="420" height="640" style="view-transition-name: image-{{ book.id }}">
</div>
