<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>{{ title }}</title>
<link rel="stylesheet" href="/css/main.css" />
<link rel="icon" href="https://ik.imagekit.io/dwhenson/personal-site/favicon-dwh_b7VY5PFyv.png?updatedAt=1639820192154">
<meta name="description" content="{{ site.description }}">
