{{ define "main" }}
    {{ .Content }}

{{ $years := slice }}
{{ range where $.Site.RegularPages "Section" "books" }}
  {{ $year := slicestr .Date 0 4 }}
  {{ $years = $years | append $year }}
{{ end }}
{{ $uniqueYears := $years | uniq }}

<h1>Reading Summary</h1>
  {{ range $uniqueYears }}
<h2> {{ . }} </h2>
  {{ $uniqueYear := .}}
    {{ $total := slice }}
    {{ $bookPages := where $.Site.RegularPages "Section" "books"}}
    {{ range $bookPages }}
      {{ if eq (slicestr .Date 0 4) $uniqueYear }}
          {{ $total = $total | append . }}
      {{ end }}
    {{ end }}

    {{ $fiction := where $total "Params.fiction" "eq" true}}
    {{ $nonFiction := where $total "Params.fiction" "ne" true}}

    {{ $allCategories := dict
        "Total" $total
        "Fiction" $fiction
        "Non-fiction" $nonFiction
    }}

    {{ range $key, $value := $allCategories }}
        <h3>{{ $key }}</h3>
            <p>{{ len $value }} {{ cond (len $value | eq 1) "book" "books"}}</p>
            {{ $total := 0}}
            {{ range $value }}
                {{ $total = add $total .Params.Pages }}
            {{ end }}
        <p>{{ $total }} pages </p>
    {{ end }}

    {{ end }}
{{ end }}