<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
	{% include "partials/meta.njk" %}
</head>
<body class="center-content">
	{% include "partials/nav.njk" %}

	<main id="main-content" class="flow-content" style="--flow-space: 1em;">
		{{ content | safe }}
	</main>
{% include "partials/footer.njk" %}
<script src="/js/main.js"></script>
</body>
</html>
