@use "../abstracts" as *;

.nonfiction-light {
  color: color-value(nonfiction, light);
}

.nonfiction-normal {
  color: color-value(nonfiction, normal);
}

.nonfiction-dark {
  color: color-value(nonfiction, dark);
}

a.nonfiction-light:hover {
  color: color-value(nonfiction, dark);
}

a.nonfiction-normal:hover {
  color: color-value(nonfiction, light);
}

a.nonfiction-dark:hover {
  color: color-value(nonfiction, light);
}
