{{ define "main" }}

{{ $years := slice }}
{{ range .Pages }}
  {{ $year := slicestr .Date 0 4 }}
  {{ $years = $years | append $year }}
{{ end }}
{{ $uniqueYears := $years | uniq }}

<h1>Books Read by Year</h1>
  {{ range $uniqueYears }}
<h2> {{ . }} </h2>
  {{ $uniqueYear := .}}
  <ul>
    {{ range $.Pages }}
      {{ if eq (slicestr .Date 0 4) $uniqueYear }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
  {{ end }}

{{ end }}


