{{ define "main" }}
 <h1>{{ .Params.Title }}</h1>
 <h2>By {{ .Params.Author }}</h2>
 <p>Finished on {{ .Date.Format "January 2, 2006" }}</p>

{{ $url := print "https://books.google.com/books/content?id=" .Params.id  "&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" }}

{{ $src := $url }}
{{ with resources.GetRemote $src }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
  {{ end }}
{{ else }}
  {{ errorf "Unable to get remote resource %q" $src }}
{{ end }}

 {{ .Content }}
{{ end }}