{{ define "main" }}
 <h1>{{ .Params.Title }}</h1>
 <h2>By {{ .Params.Author }}</h2>
 <p>Finished on {{ .Date.Format "January 2, 2006" }}</p>


{{ $string := print "images/" .File.BaseFileName ".jpg" }}

{{ $file := $string }}
{{ $asset := resources.Get $file }}

<img src="/{{ $asset }}/" />

{{ $bookCover :=
    print "https://books.google.com/books/content?id="
    .Params.id
    "&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api"
}}

{{ with resources.GetRemote $bookCover }}
    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
{{ end }}

 {{ .Content }}
{{ end }}





