{{ define "main" }}
 <h1 class='book-detail {{ .Params.category }}'>{{ .Params.Title }}</h1>
 <h2>By {{ .Params.Author }}</h2>
 <p>Finished during <a href="/books/#{{ slicestr .Date 0 4 }}">{{ slicestr .Date 0 4 }}</a> |
  <span class='{{ .Params.category }}'>
   {{ .Params.category | humanize }}
  </span>
    {{ partial "rating.html" . }}
 </p>

<div class="book-detail">
 {{ partial "bookcover.html" . }}
 <div class="flow-content" style='--flow-space: 1em; --star-size: 2em;'>
  {{ .Content }}
 </div>
</div>

{{ end }}

